* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("station.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #abf;
  padding-top: 30vh;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

h1 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}
